<form class="container p-5">
    <div class="mb-3">
        <label class="form-label">Your name</label>
        <input 
            type="text" 
            class="form-control"
            [formControl]="senderNameControl"
        >
    </div>
    <div class="mb-3">
        <label class="form-label">Your email address</label>
        <input 
            type="email" 
            class="form-control"
            [formControl]="senderEmailControl"
        >
    </div>
    <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea 
            class="form-control" 
            rows="3"
            [formControl]="senderMessageControl"
        ></textarea>
    </div>
    <div class="mb-3">
        <button 
            type="submit"
            class="btn btn-primary"
            (click)="$event.preventDefault(); submitForm()"
        >Send Message</button>
    </div>
</form>